<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>student registration form</name>
    <description>
        simple registration Form
    </description>
    <author email="jeevithashreevk@gmail.com" href="http://phonegap.com">
        jeevitha v k
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
